# Do not commit your production configurations to publicly visible repositories.
# See "flow_from_clientsecrets()" on this webpage for info on how to generate this oauth2_creds.dat file from the client_secrets.json file: https://developers.google.com/api-client-library/python/guide/aaa_oauth
{"_module": "oauth2client.client", "token_expiry": "2000-01-01T00:00:00Z", "access_token": "{YOUR_ACCESS_TOKEN_HERE}", "token_uri": "https://accounts.google.com/o/oauth2/token", "invalid": false, "token_response": {"access_token": "{YOUR_ACCESS_TOKEN_HERE}", "token_type": "Bearer", "expires_in": 3600, "refresh_token": "{YOUR_REFRESH_TOKEN}"}, "client_id": "{YOUR_CLIENT_ID}", "id_token": null, "client_secret": "{YOUR_CLIENT_SECRET}", "revoke_uri": "https://accounts.google.com/o/oauth2/revoke", "_class": "OAuth2Credentials", "refresh_token": "{YOUR_REFRESH_TOKEN}", "user_agent": null}
